
// margin
.mt0 {
    margin-top: 0;
}
.mb20 {
    margin-bottom: 20px;
}
.mr0 {
    margin-right: 0;
}
.mr20 {
    margin-right: 20px;
}
.mr40 {
    margin-right: 40px;
}
.ml0 {
    margin-left: 0;
}
.ml0-i {
    margin-left: 0 !important;
}
.ml20 {
    margin-left: 20px;
}
.mtb20 {
    margin: 20px 0;
}
.m0 {
    margin: 0;
}
.m20 {
    margin: 20px;
}

.p20 {
    padding: 20px;
}
.df {
    display: flex;
}
.click {
    cursor: pointer;
}
.click-color {
    color: #409eff;
}
