$direction: surround;
$border-style: solid;
$border-color: #e5e5e5;
@mixin border-thin($direction: surround, $border-color: red, $border-style: solid) {
    position: relative;
    @if($direction == surround) {
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            border: 1PX $border-style $border-color;
            @media screen and (-webkit-min-device-pixel-ratio: 2) {
                width: 200%;
                height: 200%;
                transform-origin: 0 0;
                transform: scale(.5);
            }
            @media screen and (-webkit-min-device-pixel-ratio: 3) {
                transform-origin: 0 0;
                transform: scale(.33);
            }
        }
    }
    @else {
        // left right
        @if($direction==left or $direction==right) {
            &::before {
                content: "";
                width: 1PX;
                height: 100%;
                transform-origin: 0 0;
                position: absolute;
                top: 0;
                pointer-events: none;
                background: $border-color;
                @media screen and (-webkit-min-device-pixel-ratio: 2) {
                    transform: scaleX(.5);
                    @if($direction==left) {
                        left: 0;
                    } @else if($direction==right) {
                        right: 0;
                    }
                }
                @media screen and (-webkit-min-device-pixel-ratio: 3) {
                    transform: scaleX(.33);
                    @if($direction==left) {
                        left: 0;
                        transform: scaleX(.33);
                    } @else if($direction==right) {
                        right: 0;
                    }
                }
            }
        }
        // top bottom
        @if($direction==top or $direction==bottom) {
            &::after {
                content: "";
                height: 1PX;
                width: 100%;
                transform-origin: 0 0;
                position: absolute;
                left: 0;
                pointer-events: none;
                background: $border-color;
                @media screen and (-webkit-min-device-pixel-ratio: 2) {
                    transform: scaleY(.5);
                    @if($direction==top) {
                        top: 0;
                    } @else if($direction==bottom) {
                        bottom: 0;
                    }
                }
                @media screen and (-webkit-min-device-pixel-ratio: 3) {
                    transform: scaleY(.33);
                    @if($direction==top) {
                        top: 0;
                    } @else if($direction==bottom) {
                        bottom: 0;
                    }
                }
            }
        }
    }
}
.border-surround {
    @include border-thin(surround)
}
.border-left {
    @include border-thin(left)
}
.border-right {
    @include border-thin(right)
}
.border-top {
    @include border-thin(top)
}
.border-bottom {
    @include border-thin(bottom)
}