
*{
    box-sizing: border-box;
    &.before, &.after {
        box-sizing: border-box;
    }
}
html,body {
    height: 100%;
}

//* { touch-action: pan-y; }

.oa {
    overflow: auto;
}
.oh {
    overflow: hidden;
}
.ox-a {
    overflow-x: auto;
}
.oy-a {
    overflow-y: auto;
}

// margin
.mt30 {
    margin-top: 30px;
}

// flex
.df {
    display: flex;
}
.fdc {
    flex-direction: column;
}
.flex-1 {
    flex: 1;
}
.fr-0 {
    flex-shrink: 0;
}
.pos-r {
    position: relative;
}
.pos-a {
    position: absolute;
}
.pos-f {
    position: fixed;
    top: 10px;
    left: 300px;
}