
.iScrollHorizontalScrollbar{
    z-index: 3;
    height: 8px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    left: 2px;
    right: 7px;
    bottom: 7px;
    .iScrollIndicator{
        box-sizing: border-box;
        position: absolute;
        background: #ccc;
        border-radius: 4px;
        height: 8px;
    }
}


.iScrollVerticalScrollbar{
    z-index: 3;
    width: 8px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    bottom: 7px;
    top: 2px;
    right: 7px;
    .iScrollIndicator{
        position: absolute;
        width: 8px;
        //height: 0.3rem;
        border-radius: 4px;
        box-sizing: border-box;
        background:  #ccc;
        display: block;
    }
}
.iScrollIndicator {
    display: none;
}